html, body{
    background: black;
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
}

#cutout{
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
}

#cutout p{
    margin: 30px;
    font-size: 100px;
    font-weight: bold;
}

#lgbt{
    background: linear-gradient(
    #e40303 0 16.66666%,
    #ff8c00 16.66666% 33.333333%,
    #ffed00 33.333333% 50%,
    #008026 50% 66.666666%,
    #004dff 66.666666% 83.333333%,
    #750787 83.333333% 100%
    );
}

#bi{
    background: linear-gradient(
    #d70270 0% 40%,
    #734f96 40% 60%,
    #0038a8 60% 100%
    );
}

#pan{
    background: linear-gradient(
    #ff1b8d 0% 33.333333%,
    #ffda00 33.333333% 66.666667%,
    #1bb3ff 66.666667% 100%
    );
}

#trans{
    background: linear-gradient(
    #55cdfc 0% 20%,
    #f78ab8 20% 40%,
    #ffffff 40% 60%,
    #f78ab8 60% 80%,
    #55cdfc 80% 100%
    );
}

#lesbian{
    background: linear-gradient(
    #d62900 0% 20%,
    #ff9b55 20% 40%,
    #ffffff 40% 60%,
    #d461a6 60% 80%,
    #a50062 80% 100%
    );
}

#nb{
    background: linear-gradient(
    #fff430 0% 25%,
    #ffffff 25% 50%,
    #9c59d1 50% 75%,
    #000000 75% 100%
    );
}

#ace{
    background: linear-gradient(
    #000000 0% 25%,
    #a4a4a4 25% 50%,
    #ffffff 50% 75%,
    #810081 75% 100%
    );
}

#gender-fluid{
    background: linear-gradient(
    #ff76a4 0% 20%,
    #ffffff 20% 40%,
    #c011d7 40% 60%,
    #000000 60% 80%,
    #2f3cbe 80% 100%
    );
}

#phil{
    background: linear-gradient(
    #000000 0% 12.5%,
    #784f17 12.5% 25%,
    #ef0303 25% 37.5%,
    #ff8c00 37.5% 50%,
    #ffed00 50% 62.5%,
    #008026 62.5% 75%,
    #004dff 75% 87.5%,
    #750787 87.5% 100%
    );
}
